*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif; 
}

body {
    background-image: url("img/8Hh6.gif"); 
    background-size:100%  100%;  
    background-repeat: no-repeat; 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
   
}


.wrapper{
    width: 65vmin;
    height: 70vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.game-details{
    color: #ffffff;
    font-size: 1.6rem;
    padding: 20px;
    display: flex;
}
.score{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.play-board{
    width:100%;
    height: 100%;
    display: grid;
    grid-template:repeat(30, 1fr) / repeat(30, 1fr); 
    grid-gap: 1px;
    border: 5px solid rgb(230, 230, 230);
    background-image: url(img/7lfP.gif);
    background-size:100%  100%;  

}

.play-board .food{
    border-radius: 4px;
    background: #f70000;
    border: 3px solid rgba(213, 224, 11, 0.638);
}

.play-board .head{
    border-radius: 10px;
    background: #d4e309;
}

.btn-next{
position: relative;
top: 50%;
left: 55%;
padding: 10px 14px;
font-weight: bold;
text-align: center;
text-decoration: none;
border: none;
border-radius: 30px;
color: #000000;
background-color: #fa09094b;
}


  .btn-next::after {
    content: "";
    background: #dcc113; 
    position: absolute;
    z-index: -1;
    border-radius: 100%;
    left: -20%;
    right: -20%;
    top: -50%;
    bottom: -50%;
    transform: scale(0, 0);
    transition: all 0.4s ease;
  }
  .btn-next:hover::after {
    transition: all 0.6s ease-out;
    transform: scale(1, 1);
  }

  .btn-next:hover {
    color: #fff;
  animation-name: stretch;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 3s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes stretch {
  0%, 100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.3);
  }
}