*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif; 
}

body {
    background-image: url("img/Gula.png"); 
    background-size:100%  100%;  
    background-repeat: no-repeat; 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
   
}


.wrapper{
    width: 65vmin;
    height: 70vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.game-details{
    color: #ffffff;
    font-size: 1.6rem;
    padding: 20px;
    display: flex;
}
.score{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.play-board{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template:repeat(30, 1fr) / repeat(30, 1fr); 
    grid-gap: 1px;
    border: 5px solid rgb(230, 230, 230);
    background-image: url(img/Dante2.png);
    background-size:100%  100%;  

}

.play-board .food{
    border-radius: 4px;
    background: #f70000;
}

.play-board .head{
    border-radius: 10px;
    background: #d4e309;
}

.btn-next{
position: relative;
top: 50%;
left: 45%;
padding: 10px 14px;
font-weight: bold;
text-align: center;
text-decoration: none;
border: none;
border-radius: 30px;
color: #000000;
background-color: #fa09094b;
}

.btn-next:hover {
    background-image: linear-gradient(to right, rgb(211, 95, 46), rgb(224, 108, 30), rgb(227, 28, 28), rgb(233, 103, 16), rgb(213, 163, 25), rgb(255, 0, 0));
  }