body {
    background-image: linear-gradient(to right, rgb(211, 95, 46), rgb(224, 108, 30), rgb(227, 28, 28), rgb(233, 103, 16), rgb(213, 163, 25), rgb(255, 0, 0));
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  
  img{
   position:relative;
    left: 10%;
    padding: 4%;
    border-radius: 10%;
  }
  
  .btn-infierno {
    position: relative;
    top: 50%;
    left: 45%;
    padding: 10px 14px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
    }
    
    .btn-infierno:hover {
      background-color: #be2020;
    }
  
  
    .cont1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: bold;
    }
  
    .cont2 {
      display: flex;
      justify-content: center; 
      align-items: center; 
    }
    
    .cont2 p {
      max-width: 600px; 
      text-align: center; 
      font-size: 18px; 
      line-height: 1.2; 
      color: #000000; 
    }
    
    
  .cont3 {
    display: flex; 
    justify-content: space-around;
    flex: 1;
    font-size: 21px;
    text-align: right; 
    color: rgb(0, 0, 0); 
    font-weight: bold;
  }
  
  
  .cont4 {
    font-size: 16px;
    text-align: left; 
    color: white;
    display: flex; 
    justify-content: space-between;
    padding-left: 15px;
    
  }
  