body {
    background-image: linear-gradient(to right, rgb(211, 95, 46), rgb(224, 108, 30), rgb(227, 28, 28), rgb(233, 103, 16), rgb(213, 163, 25), rgb(255, 0, 0));
    background-size: 100% 150%;
    background-repeat: no-repeat;
  }
  
  .img1 img{
    position: absolute;
    top: 260px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border: 5px solid #000000; /* Solo para visualización */
  }

  img{
    max-width: 600px;
  }
  
    .cont1 {
    display: flex;
    justify-content: center;
    margin-top: -50px;
    font-size: 70px;
    font-weight: bold;
    }
  
    .cont2 {
      display: flex;
      justify-content: center; 
      align-items: center; 
      margin-top: -65px;
    }
    
    .cont2 p {
      max-width: 40%; 
      text-align: center; 
      font-size: 17px; 
      line-height: 1.05; 
      color: #000000; 
      padding: 10px 10px; 
      height: 10vh;
      border: 3px solid #fff;
      font-family:Georgia, 'Times New Roman', Times, serif;
    }
    
  .cont3 {
    display: flex; 
    justify-content:space-between;
    font-size: 21px;
    text-align: right; 
    color: rgb(0, 0, 0); 
    font-weight: bold;
    margin-right: 100px;
    margin-left: 100px;
  }
  
  .cont4 { 
    color: white;
    display:flex;
    justify-content: space-between;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  .cont4 p.one{
    border: 2px solid black;
    max-width: 11%;
    text-align: center;
    padding: 5px 10px;
    margin-left: 110px;
  }
  
  .cont4 p.two{
    border: 2px solid black;
    max-width:10%;
    text-align: center;
    padding: 10px 15px;
    margin-right: 100px;
  }
  .btn-infierno {
    background: #e4870d; 
    color: #000000; 
    border: 2px solid #fffefe; 
    padding: 10px 14px;
    border-radius: 30px;
    position: relative;
    left: 47%;
    top:133px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-size: 10px;
    width: 115px;
    height: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .btn-infierno::after {
    content: "";
    background: #f70000; 
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    left: -50%;
    right: -50%;
    top: -150%;
    bottom: -150%;
    transform: scale(0, 0);
    transition: all 0.4s ease;
  }
  .btn-infierno:hover::after {
    transition: all 0.6s ease-out;
    transform: scale(1, 1);
  }

  .btn-infierno:hover {
    color: #fff;
  animation-name: stretch;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 3s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes stretch {
  0%, 100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.3);
  }
}
