* {
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background-image:url();
    display: flex;
    align-items: center;
}

.container {

    width: 1030px;
    height: 480px;
    margin: 0 auto;    
    position: relative;
    background: linear-gradient(#d45f3b, transparent) #a88571;
    overflow: hidden;

}

.ground {
    width: 200%;
    height: 42px;

    position: absolute;
    bottom: 0;
    left: 0;

    background: url(img/sudaback.png) repeat-x 0px 0px;
    background-size: 50% 62px;

}

.player {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 22px;
    left: 42px;
    z-index: 2;
    background: url(img/dante-unscreen.gif) repeat-x 0px 0px;
    background-size: 160px 105px;
    background-position-x: 0px;

}

.run {
   animation: animarPlayer 0.20 steps(3) infinite; 
}
@keyframes animarPlayer{
    from{
        background-position-x: -84px;
    }
    to{
        background-position-x: -252px;
    }
}

.player-crash {
    background-position-x: -252px;
}
.score{

    width: 100px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 10;
    color: #ffffff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight:normal;
    text-align: right;
}
.user{

    width: 100px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 15px;
    z-index: 10;
    color: #ffffff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-align: left;
}

.game-over{

    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
}

.cactus{

    width: 46px;
    height: 96px;
    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;
    background: url(img/coin.gif) no-repeat;
    background-size: 43px 74px;
    background-position-x: 0px;
}
.cactus2{

    width: 105px;
    height: 80px;
    background: url(img/cactus.png) no-repeat;
    background-size: 80px 90px;
    background-position-x: 0px;
}

.cloud{

    width: 92px;
    height: 26px;
    position: absolute;
    z-index: 0;
    background: url(img/nube.png) no-repeat;
    background-size: 92px 26px;
}