
* {
    margin: 0px;
}

button.accordion {
    background-color: #ffffff;
    color: #444; 
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
}

button.accordion.active, button.accordion:hover {
    background-color: #fb8f8f;
}

div.panel {
    padding: 0 18px;
    display: none;
    background-color: rgb(255, 255, 255);
}

div.panel.show {
    display: block;
}



body {
    background: #000000;
    background-attachment: fixed;
    font-family: 'Slabo 27px', serif;
}




img {
    vertical-align: middle;
}


p {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    font-size: 19pt;
}


a {
    text-decoration: none;
}



.banner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 10px 10px 8px 10px;
    background: #ff1010;
    z-index: 100;
    font-family: 'Pacifico', cursive;
    color: #e1200e;
}

/* parte de nivel */



.empty {
    left: 0;
    right: 0;
    top: 0;
    padding: 10px 10px 10px 10px;
    background: rgba(190, 5, 5, 0);
    font-family: 'Pacifico', cursive;
    opacity: 0;
}



.container-full {
    padding: 30px 10%;
    font-size: 20px;
    font-family: 'Serif 27px', serif;
    text-align: justify;
    background-color: rgba( 255, 255, 255, 0.8);
}



.image {
    position: relative;
    float: left;
    cursor: pointer;
}

.image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    
}

.image:after {
    position: absolute;
    opacity: 0;
    transition: all .5s;
    content: attr(data-content);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
}

.image:hover:after {
    opacity: 1;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .image-grid img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }

  .image-grid img:hover {
    transform: scale(1.1);
  }

